
body {
  background-image: url(./images/BC.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.name, .price, .quantity, .total, th {
  text-align: center;
}
form {
  text-align: center;
}
td > input {
  width: 90px;
}

div.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.btn > button {
  background-color: deepskyblue;
  border-radius: 40px;
  text-transform: uppercase;
}
